<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="snn.apds.ui.views.category"
            name="ADPS Views"
            parentCategory="org.eclipse.ui">
      </category>
      <view
            allowMultiple="false"
            class="snn.apds.ui.views.project.ApdsProjectExplorer"
            icon="icons/objs16/project-folder.png"
            id="snn.apds.ui.views.ApdsProjectExplorer"
            inject="true"
            name="Apds Project Explorer"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="snn.apds.ui.views.category"
            class="snn.apds.ui.internal.ApdsUiExecutableExtensionFactory:snn.apds.ui.views.model.ModelView"
            id="snn.apds.ui.views.model.ModelView"
            inject="true"
            name="Model View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="snn.apds.ui.views.ApdsProjectExplorer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="snn.apds.ui.views.ApdsProjectExplorer">
         <includes>
            <contentExtension pattern="snn.apds.ui.views.ApdsProjectExplorer.customContent"/>
            <contentExtension pattern="org.eclipse.ui.navigator.resourceContent"/>
            <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.ide.resourceFilters">
      <filter
            pattern="*.prot"
            selected="false">
      </filter>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="snn.apds.wizards.category"
            name="ADPS Wizards"
            parentCategory="org.eclipse.ui.Basic">
      </category>
      <wizard
            category="snn.apds.wizards.category"
            class="snn.apds.ui.wizards.NewProjectApds"
            finalPerspective="snn.apds.perspective"
            icon="icons/objs16/project-folder.png"
            id="snn.apds.new_project.wizard"
            name="Новый проект APDS">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="snn.apds.ui.perspectives.PerspectiveFactory"
            id="snn.apds.perspective"
            name="APDS">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="snn.apds.perspective">
         <view
               id="snn.apds.ui.views.ApdsProjectExplorer"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true">
         </view>
         <view
               id="snn.apds.ui.views.model.ModelView"
               minimized="false"
               relationship="stack"
               relative="edit">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
