<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="apds.nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="snn.apds.core.natures.ApdsProjectNature">
         </run>
      </runtime>
   </extension>

</plugin>
